.askthis textarea.form-control {
    height: auto;
}

.askthis .askthis-h4 {
    margin-bottom: 0;
    font-weight: bold;
}

.askthis .form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.askthis textarea {
    overflow: auto;
    resize: vertical;
}

.askthis .form-group {
    margin-bottom: 1rem;
}

.askthis .alert-success {
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8;
}

.askthis .alert-danger {
    color: #761b18;
    background-color: #f9d6d5;
    border-color: #f7c6c5;
}

.askthis .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0.25rem;
}
.askthis label {
    display: inline-block;
    margin-bottom: .5rem;
}
.askthis .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    cursor: pointer;
    border: 1px solid transparent;
}

.askthis .btn-success {
    color: #fff;
    background-color: #38c172;
    border-color: #38c172;
}

.askthis .btn-success:hover {
    color: #fff;
    background-color: #2fa360;
    border-color: #2d995b;
}